<div class="vertical-menu ">
  <a href="/" class="active">Home</a>
  <a href="/diet">Diet Plans</a>
  <a href="/products">Our Products</a>
  <a href="/cart">My Shopping Cart</a>
  <a href="/calculator">Calories Calculator</a>
  <a href="#">Settings</a>
  <a href="#">Help</a>
  
</div>